Source: vagrant
Section: utils
Priority: optional
Maintainer: Diogenes Oliveira <diogenes1oliveira@gmail.com>
Build-Depends: debhelper (>= 9)
Standards-Version: 3.9.8
Homepage: https://www.vagrantup.com/
Vcs-Git: https://github.com/diogenes1oliveira/hashicorp-ppa.git
Vcs-Browser: https://github.com/diogenes1oliveira/hashicorp-ppa

Package: vagrant
Architecture: amd64
Depends: ${shlibs:Depends}, ${misc:Depends}, curl, unzip
Description: Building and distributing development environments
  Development environments managed by Vagrant can run on local virtualized
  platforms such as VirtualBox or VMware, in the cloud via AWS or OpenStack,
  or in containers such as with Docker or raw LXC.
  Vagrant provides the framework and configuration format to create and manage
  complete portable development environments. These development environments
  can live on your computer or in the cloud, and are portable between Windows,
  Mac OS X, and Linux.
